body
{
 display: block;
}

#body
{
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  height: 800px;
  border: black solid 2px;
}

.clear
{
  float: clear;
}

#header
{
  padding-top:60px;
  width: 600px;
  height: 90px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#nav
{

}

#nav>ul
{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#nav>ul>li
{
  float: left;
  border-right: black solid 2px;
  border-bottom: black solid 2px;
  width: 223px;
  height: 70px;
}

#nav>ul>li>a
{
  text-decoration: none;
  color: black;
  background-color: grey;
  display: block;
  font-size: 61px;
  text-align: center;
}

#nav>ul>li>a:hover
{
  color: white;
  background-color: black;
}

#content
{
  width: 900px;
  height:740px;
}

#footer
{
  border-top: black solid 2px;
  width: 850px;
  font-style: italic;
  padding-left: 50px;
}
