
@font-face {
    font-family: "ORC B Regular";
    font-style: normal;
    font-weight: normal;
    src: url("assets/fonts/OCR-B-Regular-web.eot") format("eot"), url("assets/fonts/OCR-B-Regular-web.woff") format("woff"), url("assets/fonts/OCR-B-Regular-web.ttf") format("truetype"), url("assets/fonts/OCR-B-Regular-web.svg") format("svg");
}

@font-face {
    font-family: "FS Box Normal Regular";
    font-style: normal;
    font-weight: normal;
    src: url("assets/fonts/fs_box_normal.eot?") format("eot"), url("assets/fonts/fs_box_normal.woff") format("woff"), url("assets/fonts/fs_box_normal.ttf") format("truetype"), url("assets/fonts/fs_box_normal.svg#FS-Box-Normal") format("svg");
}

body
{
 display: block;
 font-family: "ORC B Regular";
 background-image: url("assets/img/forest.png");
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: 100% 100%;
}

#body
{
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  height: 800px;
  border: black solid 2px;
}

.clear
{
  float: clear;
}

#header
{
  width: 600px;
  height: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#nav
{

}

#nav>ul
{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#nav>ul>li
{
  float: left;
  border-right: black solid 2px;
  border-bottom: black solid 2px;
  width: 223px;
  height: 70px;
}

#nav>ul>li>a
{
  text-decoration: none;
  color: black;
  background-color: rgba(0, 163, 0, 0.7);
  display: block;
  font-size: 25px;
  text-align: center;
  line-height: 70px;
}

#nav>ul>li>a:hover
{
  color: white;
  background-color: rgba(0, 79, 0, 0.7);
}

#content
{
  width: 890px;
  height:740px;
  background-color: rgba(144, 237, 144, 0.7);
  font-size: 19px;
  padding: 5px;
  text-align: center;
}

#game
{
  margin: auto;
  margin-top: 100px;
  width: 800px;
  height: 600px;
  background-color: white;
  border: #438743 solid 2px;
  box-shadow: 4px 3px 15px 0px;
  font-family: "FS Box Normal Regular";
  font-size: 15px;
}

#footer
{
  border-top: black solid 2px;
  width: 900px;
  height: 48px;
  font-style: italic;
  background-color: rgba(144, 237, 144, 0.7);
  line-height: 45px;
  text-align: center;
}
