#container
{
display: block;
text-align: center;
margin: auto;
}

#header
{
width:900px;
height: 70px;
margin: 5px 5px 5px 5px;
background-color: #b2b2b2;
}

.leftitem
{
  float: left;
  margin: 5px 5px 5px 5px;
  width: 600px;
  height: 100px;
  background-color: #b2b2b2;
}

#rightmenu
{
  float: left;
  margin: 5px 5px 5px 5px;
  width: 290px;
  height: 430px;
  background-color: #b2b2b2;
}

.clear
{
  clear: both;
}
